<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Lista de Clientes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- Pantalla de carga -->
  <div *ngIf="isLoading" class="loading-container" style="text-align: center;">
    <ion-spinner name="crescent"></ion-spinner>
    <p>Cargando clientes...</p>
  </div>

  <!-- Lista de clientes cuando isLoading es false -->
  <ion-list *ngIf="!isLoading && clientes.length > 0">
    <ion-item *ngFor="let cliente of clientes" lines="full">
      <ion-label>
        <h2>{{ cliente.nombre }} {{ cliente.apellido }}</h2>
        <p>Dirección: {{ cliente.direccion }}</p>
        <p>Teléfono: {{ cliente.telefono }}</p>
        <p>Email: {{ cliente.email }}</p>
      </ion-label>
      <ion-buttons class="botones-en-columna">
        <div>
          <ion-button expand="block" color="success" (click)="abrirModal(cliente)">
            <ion-icon slot="start" name="cart-outline"></ion-icon>
            Realizar Venta
          </ion-button>
        </div>
        <div>
          <ion-button expand="block" color="primary" (click)="abrirEditarModal(cliente)">
            <ion-icon slot="start" name="create-outline"></ion-icon>
            Editar
          </ion-button>
        </div>
      </ion-buttons>

    </ion-item>
    
    <!-- Modal para realizar venta -->
    <ion-modal [isOpen]="isModalOpen">
      <ng-template>
        <ion-header>
          <ion-toolbar color="primary">
            <ion-title>Realizar Venta</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="cerrarModal()">Cerrar</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content>
          <ion-item>
            <ion-label position="stacked">Cliente</ion-label>
            <br>
            <ion-input [value]="clienteSeleccionado?.nombre" readonly></ion-input>
          </ion-item>
        
          <ion-item>
            <ion-label position="stacked">Método de Pago</ion-label>
            <br>
            <ion-select [(ngModel)]="metodoPago">
              <ion-select-option value="Efectivo">Efectivo</ion-select-option>
              <ion-select-option value="Tarjeta">Tarjeta</ion-select-option>
              <ion-select-option value="Transferencia">Transferencia</ion-select-option>
            </ion-select>
          </ion-item>
        
          <ion-item>
            <ion-label position="stacked">Estado</ion-label>
            <br>
            <ion-select [(ngModel)]="estado">
              <ion-select-option value="Pendiente">Pendiente</ion-select-option>
              <ion-select-option value="Completada">Completada</ion-select-option>
            </ion-select>
          </ion-item>
        
          <!-- Seleccionador de productos -->
          <ion-item>
            <ion-label position="stacked">Seleccionar Producto</ion-label>
            <br>
            <ion-select (ionChange)="agregarProductoSeleccionado($event.detail.value)">
              <ion-select-option *ngFor="let producto of productos" [value]="producto">
                {{ producto.nombre }} - {{ producto.precio_venta | currency }}
              </ion-select-option>
            </ion-select>
          </ion-item>
        
          <!-- Lista de productos seleccionados -->
          <ion-list class="productos-seleccionados">
            <ion-item *ngFor="let producto of productosSeleccionados">
              <ion-label>
                <h1>{{ producto.nombre }}</h1>
                <p>Precio: {{ producto.precio_venta | currency }}</p>
          
                <!-- Contenedor alineado para Cantidad -->
                <div class="inline-field">
                  <label for="cantidad">Cantidad:</label>
                  <ion-input
                    id="cantidad"
                    type="number"
                    [(ngModel)]="producto.cantidadSeleccionada"
                    class="input-field"
                  ></ion-input>
                </div>
          
                <!-- Contenedor alineado para Descuento -->
                <div class="inline-field">
                  <label for="descuento">Descuento (%):</label>
                  <ion-input
                    id="descuento"
                    type="number"
                    [(ngModel)]="producto.descuento"
                    class="input-field"
                  ></ion-input>
                </div>
              </ion-label>
          
              <ion-button color="danger" (click)="eliminarProductoSeleccionado(producto.id)">Eliminar</ion-button>
            </ion-item>
          
            <!-- Separador -->
            <ion-item-divider></ion-item-divider>
          </ion-list>
          
          
        
          <!-- Mostrar el total calculado y la cantidad de productos -->
          <ion-item>
            <ion-label>
              Total (con impuesto): {{ calcularTotal().total | currency }}
            </ion-label>
          </ion-item>
        
          <ion-item>
            <ion-label>
              Cantidad de Productos: {{ calcularTotal().cantidad }}
            </ion-label>
          </ion-item>
        
          <ion-button expand="block" color="success" (click)="realizarVenta()">Confirmar Venta</ion-button>
        </ion-content>
        
        

      </ng-template>
    </ion-modal>
    <ion-modal [isOpen]="isEditarModalOpen" (ionModalDidDismiss)="cerrarEditarModal()">
      <ng-template>
        <ion-header>
          <ion-toolbar color="primary">
            <ion-title>Editar Cliente</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="cerrarEditarModal()">Cerrar</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
          <form (ngSubmit)="guardarCambiosCliente()">
            <ion-item>
              <ion-label position="stacked">Nombre</ion-label>
              <ion-input [(ngModel)]="clienteSeleccionado.nombre" name="nombre" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Apellido</ion-label>
              <ion-input [(ngModel)]="clienteSeleccionado.apellido" name="apellido" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Dirección</ion-label>
              <ion-input [(ngModel)]="clienteSeleccionado.direccion" name="direccion" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Teléfono</ion-label>
              <ion-input [(ngModel)]="clienteSeleccionado.telefono" name="telefono" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Email</ion-label>
              <ion-input [(ngModel)]="clienteSeleccionado.email" name="email" required></ion-input>
            </ion-item>
            <ion-button expand="block" color="success" type="submit">Guardar Cambios</ion-button>
          </form>
        </ion-content>
      </ng-template>
    </ion-modal>
    
  </ion-list>

  <!-- Mensaje si no hay clientes y la carga terminó -->
  <div *ngIf="!isLoading && clientes.length === 0" class="no-clientes">
    <ion-label>No hay clientes disponibles.</ion-label>
  </div>
</ion-content>
