<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Crear Categoría</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding form-centered">
  <form (ngSubmit)="addCategoria()" #categoriaForm="ngForm" class="form-container">
    <ion-item lines="full" class="form-item">
      <ion-label position="floating">Nombre</ion-label>
      <ion-input type="text" [(ngModel)]="nombre" name="nombre" required></ion-input>
    </ion-item>

    <ion-item lines="full" class="form-item">
      <ion-label position="floating">Descripción</ion-label>
      <ion-input type="text" [(ngModel)]="descripcion" name="descripcion" required></ion-input>
    </ion-item>



    <ion-button expand="block" type="submit" [disabled]="!categoriaForm.form.valid" color="success" class="submit-button">
      Agregar Categoría
    </ion-button>
  </form>
</ion-content>
