<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Proveedores</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <!-- Indicador de carga mientras se obtienen los proveedores -->
  <div *ngIf="isLoading" class="loading-container">
    <ion-spinner name="crescent"></ion-spinner>
    <p>Cargando proveedores...</p>
  </div>

  <!-- Lista de proveedores cuando isLoading es false -->
  <ion-list *ngIf="!isLoading">
    <ion-item *ngFor="let proveedor of proveedores">
      <ion-label>
        <h2>{{ proveedor.nombre }}</h2>
        <p>Dirección: {{ proveedor.direccion }}</p>
        <p>Teléfono: {{ proveedor.telefono }}</p>
        <p>Email: {{ proveedor.email }}</p>
      </ion-label>
      <ion-button expand="block" (click)="seleccionarProveedor(proveedor)" color="tertiary">
        Hacer pedido
      </ion-button>
    </ion-item>
  </ion-list>

  <!-- Modal de Orden de Compra -->
  <ion-modal [isOpen]="isModalOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar color="dark">
          <ion-title>Orden de Compra</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="setOpenModalOrden(false)" color="light">Cancelar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-item lines="full">
          <ion-label position="stacked">Pedido</ion-label>
          <ion-textarea [(ngModel)]="mensajeCorreo" placeholder="Escribe el detalle del pedido"></ion-textarea>
        </ion-item>
        
        <ion-item lines="full">
          <ion-label position="stacked">Fecha de Entrega</ion-label>
          <ion-datetime
            [(ngModel)]="fecha_pedido"
            displayFormat="DD/MM/YYYY"
            placeholder="Seleccionar Fecha">
          </ion-datetime>
        </ion-item>

        <ion-item lines="full">
          <ion-label position="stacked">Total</ion-label>
          <ion-input [(ngModel)]="total" type="number" placeholder="Ingresa el total" required></ion-input>
        </ion-item>

        <ion-button expand="block" color="success" (click)="enviarCorreo(proveedorSeleccionado)">
          Enviar
        </ion-button>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
