<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Proveedores</ion-title>
  </ion-toolbar>
  <link href="https://api.mapbox.com/mapbox-gl-js/v2.15.0/mapbox-gl.css" rel="stylesheet">
  <script src="https://api.mapbox.com/mapbox-gl-js/v2.15.0/mapbox-gl.js"></script>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <!-- Indicador de carga -->
  <div *ngIf="isLoading" class="loading-container">
    <ion-spinner name="crescent"></ion-spinner>
    <p>Cargando proveedores...</p>
  </div>

  <!-- Lista de proveedores -->
  <ion-list *ngIf="!isLoading">
    <ion-item *ngFor="let proveedor of proveedores" class="proveedor-item">
      <ion-label>
        <h2>{{ proveedor.nombre }}</h2>
        <p>
          Dirección:
          <span class="direccion" (click)="mostrarMapa(proveedor.latitud, proveedor.longitud)">
            {{ proveedor.direccion }}
            <ion-icon name="location-outline" class="direccion-icon" style="color: #7173f5;"></ion-icon>
          </span>
        </p>
        <p>Teléfono: {{ proveedor.telefono }}</p>
        <p>Email: {{ proveedor.email }}</p>
      </ion-label>
      <ion-buttons class="botones-en-columna">
        <div>
          <ion-button expand="block" class="boton-hacer-pedido" (click)="seleccionarProveedor(proveedor)">
            <ion-icon slot="start" name="cart-outline"></ion-icon>
            Hacer Pedido
          </ion-button>
        </div>
        <div>
          <ion-button expand="block" class="boton-editar" (click)="abrirModalEdicion(proveedor)">
            <ion-icon slot="start" name="create-outline"></ion-icon>
            Editar
          </ion-button>
        </div>
      </ion-buttons>
      
      
      
    </ion-item>
    
  </ion-list>

  <!-- Modal de Orden de Compra -->
  <ion-modal [isOpen]="isModalOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar color="dark">
          <ion-title>Orden de Compra</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="cerrarModal()" color="light">Cancelar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <!-- Botón para abrir el modal de productos -->
        <ion-item lines="none">
          <ion-button expand="block" color="tertiary" (click)="abrirModalProductos()">
            Seleccionar Productos
          </ion-button>
        </ion-item>

        <!-- Divider -->
        <div class="divider"></div>

        <!-- Lista de productos seleccionados -->
        <ion-item>
          <ion-label>
            <h3>Productos seleccionados:</h3>
          </ion-label>
        </ion-item>
        <ion-list>
          <ion-item *ngFor="let producto of productosSeleccionados">
            <ion-label>
              <h2>{{ producto.nombre }}</h2>
              <p>Cantidad: {{ producto.cantidadSeleccionada }}</p>
              <p>Precio Unitario: {{ producto.precio_compra | currency }}</p>
              <p>Precio Total unitario: {{ (producto.precio_compra * producto.cantidadSeleccionada) | currency }}</p>
            </ion-label>
          </ion-item>
        </ion-list>

        <!-- Divider -->
        <div class="divider"></div>

        <!-- Detalles del pedido -->
        <ion-item lines="full">
          <ion-label position="stacked">Pedido</ion-label>
          <ion-textarea
            [(ngModel)]="mensajeCorreo"
            placeholder="Escribe el detalle del pedido">
          </ion-textarea>
        </ion-item>

        <!-- Dentro del ion-modal de Orden de Compra -->
<ion-item lines="full">
  <ion-label position="stacked">Bodega de Entrega</ion-label>
  <ion-select [(ngModel)]="bodegaSeleccionadaId" interface="action-sheet">
    <ion-select-option *ngFor="let bodega of bodegas" [value]="bodega.id">
      {{ bodega.nombre }}
    </ion-select-option>
  </ion-select>
</ion-item>


        <ion-item lines="full">
          <ion-label position="stacked">Total</ion-label>
          <ion-input [(ngModel)]="total" type="number" disabled></ion-input>
        </ion-item>

        <!-- Botón de enviar -->
        <ion-button expand="block" color="success" (click)="enviarPedido()">
          Enviar Pedido
        </ion-button>
      </ion-content>
    </ng-template>
  </ion-modal>

  <!-- Modal de Productos -->
  <ion-modal [isOpen]="isProductosModalOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar color="tertiary">
          <ion-title>Seleccionar Productos</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="cerrarModalProductos()" color="light">Cerrar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">

        <ion-list>
          <ion-item *ngFor="let producto of productos" lines="inset" class="product-item">
            <ion-checkbox
              slot="start"
              [(ngModel)]="producto.seleccionado"
              (ionChange)="actualizarSeleccionados()">
            </ion-checkbox>
            <ion-label>
              <h2>{{ producto.nombre }}</h2>
              <p><strong>Precio Compra:</strong> {{ producto.precio_compra}}</p>
              <p><strong>Stock:</strong> {{ producto.cantidad }}</p>
            </ion-label>
            <ion-input
              placeholder="Cantidad"
              [(ngModel)]="producto.cantidadSeleccionada"
              type="number"
              (ionChange)="actualizarSeleccionados()">
            </ion-input>
          </ion-item>
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-modal [isOpen]="isEdicionModalOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar color="dark">
          <ion-title>Editar Proveedor</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="cerrarModalEdicion()" color="light">Cerrar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-item>
          <ion-label position="floating">Nombre</ion-label>
          <ion-input [(ngModel)]="proveedorSeleccionado.nombre"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Dirección</ion-label>
          <ion-input [(ngModel)]="proveedorSeleccionado.direccion"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Teléfono</ion-label>
          <ion-input [(ngModel)]="proveedorSeleccionado.telefono"></ion-input>
        </ion-item>
        <ion-item>

          <ion-label position="floating">Email</ion-label>
          <ion-input [(ngModel)]="proveedorSeleccionado.email"></ion-input>
        </ion-item>

        <ion-button expand="block" color="tertiary" (click)="obtenerUbicacion()">
          Obtener Lat/Long de la dirección
        </ion-button>
        <ion-item>
          <ion-label position="floating">Latitud</ion-label>
          <ion-input [(ngModel)]="proveedorSeleccionado.latitud" type="number"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Longitud</ion-label>
          <ion-input [(ngModel)]="proveedorSeleccionado.longitud" type="number"></ion-input>
        </ion-item>
        <ion-button expand="block" color="success" (click)="guardarCambios()">
          Guardar Cambios
        </ion-button>
      </ion-content>
    </ng-template>
  </ion-modal>
  
  <ion-modal [isOpen]="isMapaModalOpen" cssClass="modal-centered">
    <ng-template>
      <ion-header>
        <ion-toolbar color="dark">
          <ion-title>Ubicación del Proveedor</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="cerrarMapa()" color="light">Cerrar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <div id="map" style="width: 100%; height: 100%;"></div>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
