<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Crear Producto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="productForm" (ngSubmit)="addProduct()">
    <ion-item lines="full">
      <ion-label position="floating">Nombre</ion-label>
      <ion-input formControlName="nombre" type="text"></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Descripción</ion-label>
      <ion-input formControlName="descripcion" type="text"></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Imagen (URL)</ion-label>
      <ion-input formControlName="img" type="url"></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Precio</ion-label>
      <ion-input formControlName="precio" type="number"></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">SKU</ion-label>
      <ion-input formControlName="sku" type="text"></ion-input>
    </ion-item>

    <!-- Botón para seleccionar Proveedor -->
    <ion-item button detail="true" (click)="openProveedorModal()" lines="full">
      <ion-label>Proveedor</ion-label>
      <ion-text class="ion-text-end">{{ selectedProveedorName || 'Selecciona un proveedor' }}</ion-text>
    </ion-item>

    <!-- Botón para seleccionar Categoría -->
    <ion-item button detail="true" (click)="openCategoriaModal()" lines="full">
      <ion-label>Categoría</ion-label>
      <ion-text class="ion-text-end">{{ selectedCategoriaName || 'Selecciona una categoría' }}</ion-text>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Cantidad</ion-label>
      <ion-input formControlName="cantidad" type="number"></ion-input>
    </ion-item>

    <ion-button expand="block" type="submit" [disabled]="productForm.invalid" color="success">
      Agregar Producto
    </ion-button>
  </form>

  <!-- Modal para seleccionar Proveedor -->
  <ion-modal [isOpen]="isProveedorModalOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar color="tertiary">
          <ion-title>Seleccionar Proveedor</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="closeProveedorModal()">Cancelar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-list *ngIf="proveedores && proveedores.length > 0">
          <ion-item *ngFor="let proveedor of proveedores" (click)="selectProveedor(proveedor)">
            {{ proveedor.nombre }}
          </ion-item>
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-modal>

  <!-- Modal para seleccionar Categoría -->
  <ion-modal [isOpen]="isCategoriaModalOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar color="tertiary">
          <ion-title>Seleccionar Categoría</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="closeCategoriaModal()">Cancelar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-list *ngIf="categorias && categorias.length > 0">
          <ion-item *ngFor="let categoria of categorias" (click)="selectCategoria(categoria)">
            {{ categoria.nombre }}
          </ion-item>
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
