.venta-completada {
  --background: #d4edda; /* Verde claro */
  --color: #155724; /* Texto más oscuro */
}

.venta-pendiente {
  --background: #fff3cd; /* Amarillo claro */
  --color: #856404;
}

.venta-eliminada {
  --background: #f8d7da; /* Rojo claro */
  --color: #721c24;
}
